.logo-mask {
  -webkit-mask-image: url("/logo.svg");
  mask-image: url("/logo.svg");

  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;

  -webkit-mask-position: center;
  mask-position: center;

  -webkit-mask-size: 80%;
  mask-size: 80%;
}
